<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fym.dao.course.CourseDao">

    <insert id="addCourse" useGeneratedKeys="true" keyProperty="course_id" parameterType="hash">
        INSERT INTO
          course(course_name,c_user_id,course_author,course_language,img_url,img_id,course_desc)
          VALUES (#{course_name},#{userId},#{course_author},#{course_language},#{img_url},#{img_id},#{course_desc})
    </insert>
    <update id="updateCourse">
        UPDATE course
          SET course_name=#{course_name},course_author=#{course_author},course_language=#{course_language},
              img_url=#{img_url},img_id=#{img_id},course_desc=#{course_desc}
          where
              course_id=#{course_id}
    </update>

    <delete id="deleteCourse">
        DELETE FROM course WHERE course_id=#{0}
    </delete>

    <select id="getCourse" resultMap="courseInfo">
        <include refid="base-select"/>
        LEFT JOIN `curriculum` cl
        ON
        c.course_id=cl.c_id
        WHERE c.course_id=#{0} order by cl.curriculum_num
    </select>


    <select id="getAll" resultMap="courseInfo">
        <include refid="base-select"/>
        LEFT JOIN `curriculum` cl
        ON
        c.course_id=cl.c_id
        WHERE 1=1
        <if test="extend.search_key!=null and extend.search_key!=''">
            and (
            (c.course_name like CONCAT('%','${extend.search_key}','%' ) ) or
            (c.course_author like CONCAT('%','${extend.search_key}','%' ) ) or
            (c.course_desc like CONCAT('%','${extend.search_key}','%' ) )
            )
        </if>
        <if test="extend.language!=null and extend.language!=''">
            and course_language=#{extend.language}
        </if>
        <if test="(sidx!=null and sidx!='') and (order!=null and order!='')">
            ORDER BY ${sidx} ${order}
        </if>
    </select>
    <select id="getHots" resultType="com.fym.entity.CourseEntity">
        SELECT * FROM course c  ORDER BY c.course_id desc limit 0,5
    </select>
    <select id="getAllList" resultType="com.fym.entity.CourseEntity">
        SELECT
            c.*,COUNT(cl.c_id) as courseItemsCount,
            su.nickname,
            l.name as `language`

        FROM course c
        INNER JOIN `sys_user` su
        ON su.user_id=c.c_user_id

            LEFT JOIN `language` l
                ON    c.course_language=l.l_id
		    LEFT JOIN `curriculum` cl
			    ON    c.course_id=cl.c_id
        WHERE 1=1
        <if test="extend.search_key!=null and extend.search_key!=''">
            and (
            (c.course_name like CONCAT('%','${extend.search_key}','%' ) ) or
            (c.course_author like CONCAT('%','${extend.search_key}','%' ) ) or
            (c.course_desc like CONCAT('%','${extend.search_key}','%' ) )
            )
        </if>
        <if test="extend.language!=null and extend.language!=''">
            and course_language=#{extend.language}
        </if>
        <if test="extend.userId!=null">
            AND c.c_user_id=#{extend.userId}
        </if>
        GROUP BY c.course_id
        <if test="(sidx!=null and sidx!='') and (order!=null and order!='')">
            ORDER BY ${sidx} ${order}
        </if>
    </select>

    <sql id="base-select">
        SELECT c.*,l.name as `language`,
            su.username,su.nickname,su.user_id,
            cl.*
        FROM course c
        LEFT JOIN `language` l
        ON
          c.course_language=l.l_id
        INNER JOIN `sys_user` su
        ON su.user_id=c.c_user_id
    </sql>

    <resultMap id="courseInfo" type="com.fym.entity.CourseEntity" autoMapping="true">
        <id column="course_id" property="course_id"/>
        <association property="user" column="user_id" javaType="com.fym.entity.User" autoMapping="true">
            <id property="id" column="user_id"/>
        </association>
        <collection property="courseItems" column="curriculum_id" ofType="com.fym.entity.CurriculumEntity">
            <id property="curriculum_id" column="curriculum_id"/>
            <result property="c_id" column="c_num"/>
            <result property="curriculum_num" column="curriculum_num"/>
            <result property="name" column="name"/>
            <result property="desc" column="desc"/>
            <result property="video_id" column="video_id"/>
            <result property="video_url" column="video_url"/>
            <result property="resource_id" column="resource_id"/>
            <result property="resource_url" column="resource_url"/>
        </collection>
    </resultMap>
</mapper>