<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fym.dao.course.LanguageDao">
    <insert id="add">
        INSERT INTO `language`(`name`) VALUES (#{name})
    </insert>
    <select id="getAll" resultType="hash">
        SELECT * FROM `language`
    </select>
    <delete id="delete">
        DELETE FROM `language` WHERE l_id=#{0}
    </delete>
</mapper>