<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fym.dao.system.MachineUserDao">

    <insert id="add" parameterType="hash">
        INSERT INTO `machine_user`(machine_id,username,password,status) VALUES (#{machine_id},#{username},#{password},#{status})
    </insert>
    <delete id="delete" parameterType="hash">
        DELETE FROM `machine_user` WHERE mu_id in (#{id})
    </delete>
    <update id="update" parameterType="hash">
        UPDATE `machine_user` SET machine_id=#{machine_id},username=#{username},password=#{password},status=#{status} WHERE mu_id=#{id}
    </update>

    <update id="updateUse">
        UPDATE `machine_user` SET status=#{1} WHERE mu_id=#{0}
    </update>
    <update id="initUse">
        UPDATE `machine_user` SET status=1 WHERE status=0
    </update>

    <select id="getAllMachineUsers" resultType="hash">
        SELECT * FROM `machine_user`
        <if test="extend.machine_id!=null and extend.machine_id>0">
            WHERE machine_id = #{extend.machine_id}
        </if>
        <if test="sidx!=null and sidx!=''">
            ORDER BY ${sidx} ${order}
        </if>
    </select>

    <select id="getOneUser" resultType="hash">
        SELECT mu.*,m.host,m.protocol,m.port,m.name FROM `machine_user` mu,`machine` m
        WHERE
        mu.machine_id=m.machine_id
        and mu.status=1 AND m.m_status=1
        <if test="machine_id!=null and machine_id!=''">
            AND mu.machine_id=#{machine_id}
        </if>
        <if test="username!=null and username!=''">
            AND mu.username=#{username}
        </if>
        limit 1

    </select>
</mapper>