<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fym.dao.system.SystemUserDao">
    <resultMap id="userMap" type="com.fym.entity.User">
        <id property="id" column="USER_ID"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="nickname" column="nickname"/>
        <result property="locked" column="locked"/>
        <!-- 进行 多表关联插叙，先关联user和role -->
        <collection property="roleSet" column="role_id" ofType="com.fym.entity.Role">
            <id property="id" column="ROLE_ID"/>
            <result property="name" column="ROLE_NAME"/>
            <result property="isSys" column="is_sys"/>
            <result property="available" column="available"/>
            <!-- 再在role中关联role和permission -->
            <collection property="permissionSet" column="permission_id" ofType="com.fym.entity.Permission">
                <id property="id" column="permission_id"/>
                <result property="permissionName" column="permission_name"/>
                <result property="url" column="url"/>
                <result property="available" column="p_available"/>
            </collection>
        </collection>
    </resultMap>

    <insert id="registerUser"  useGeneratedKeys="true" keyProperty="userId" parameterType="hash">
        INSERT INTO `sys_user`(nickname,username,password,locked) VALUES (#{nickname},#{username},#{password},#{locked})
    </insert>

    <insert id="add" parameterType="hash">
        INSERT INTO `sys_user`(nickname,username,locked) VALUES (#{nickname},#{username},#{locked})
    </insert>
    <delete id="delete" parameterType="hash">
        DELETE FROM `sys_user` WHERE user_id in (#{id})
    </delete>
    <update id="update" parameterType="hash">
        UPDATE `sys_user` SET nickname=#{nickname},locked=#{locked} WHERE user_id=#{id}
    </update>
    <update id="changePassword">
        UPDATE `sys_user` SET password=#{0} WHERE user_id=#{1}
    </update>

    <select id="getAllUsers" resultType="hash">
        SELECT * FROM `sys_user`
        <if test="sidx!=null and sidx!=''">
            ORDER BY ${sidx} ${order}
        </if>
    </select>
    <select id="getByUsername" resultMap="userMap">
        SELECT * FROM `sys_user` WHERE username=#{0}
    </select>

    <select id="getUsersByRole" resultType="hash">
        <include refid="select-user_role"/>
        <if test="extend.role_id!=null and extend.role_id!=''">
            AND r.role_id in (#{extend.role_id})
        </if>
        AND
        <if test="extend.is_sys!=1">
            (r.is_sys=#{extend.is_sys} or (r.is_sys is null))
        </if>
        <if test="extend.is_sys==1">
            r.is_sys=#{extend.is_sys}
        </if>
        and (r.available!=0 or (r.available IS NULL ))
        GROUP BY u.user_id
        <if test="sidx!=null and sidx!=''">
            ORDER BY ${sidx} ${order}
        </if>
    </select>

    <select id="getUserAndRole" resultMap="userMap">
        <include refid="select-user_role"/>
        and (r.available!=0 or (r.available IS NULL ))
        AND u.user_id=#{0}
    </select>


    <sql id="select-user_role">
        SELECT
            u.*,r.*
        FROM
            sys_user as u
        LEFT JOIN (
            SELECT r.*,ru.user_id as u_id FROM
                sys_role as r,
                sys_user_role as ru
            WHERE
                r.ROLE_ID = ru.ROLE_ID
        ) r
        ON
            u.user_id=r.u_id
        WHERE 1=1
    </sql>

    <select id="findPermission" parameterType="string" resultMap="userMap">
        <include refid="select-permission"/>
        AND
        u.USERNAME = #{username}
        and
        p.P_AVAILABLE=1
    </select>

    <sql id="select-permission">
        SELECT
        u.USER_ID,
        u.USERNAME,
        u.nickname,
        u.PASSWORD,
        r.ROLE_ID,
        r.ROLE_NAME,
        p.PERMISSION_ID,
        p.P_AVAILABLE,
        p.PERMISSION_NAME
        FROM
        sys_user as u,
        sys_role as r,
        sys_permission as p,
        sys_role_permission as pr,
        sys_user_role as ru
        WHERE
        u.USER_ID = ru.USER_ID
        AND
        r.ROLE_ID = ru.ROLE_ID
        AND
        p.PERMISSION_ID = pr.PERMISSION_ID
        AND
        r.ROLE_ID = pr.ROLE_ID
    </sql>

</mapper>













