<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fym.dao.admin.MachineUserDao">

    <insert id="add" parameterType="hash">
        INSERT INTO `machine_user`(machine_id,username,password,status) VALUES (#{machine_id},#{username},#{password},#{status})
    </insert>
    <insert id="delete" parameterType="hash">
        DELETE FROM `machine_user` WHERE mu_id in (#{id})
    </insert>
    <insert id="update" parameterType="hash">
        UPDATE `machine_user` SET machine_id=#{machine_id},username=#{username},password=#{password},status=#{status} WHERE mu_id=#{id}
    </insert>

    <select id="getAllMachineUsers" resultType="hash">
        SELECT * FROM `machine_user`
        <if test="extend.machine_id!=null and extend.machine_id>0">
            WHERE machine_id = #{extend.machine_id}
        </if>
        ORDER BY ${sidx} ${order}
    </select>
</mapper>