<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fym.dao.test.TestMapper">

    <select id="findAll" resultType="hash">
        SELECT * FROM test;
    </select>
    <select id="findAllTree" resultType="tree">
        SELECT * FROM test;
    </select>
    <select id="findAllData" resultType="pd">
        SELECT * FROM test;
    </select>

</mapper>